@model List<Applicc.Models.PessoaModel>
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Data de nascimento
        </th>
        <th>
            Sexo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @*@Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Apagar", "Apagar", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Novo", "New")
